<!DOCTYPE html>
<html ng-app="PhysicsExamPapers">
<head>
    <title>Physics Exam Papers</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js" integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js"></script>

    <script src="application.js"></script>
</head>
<body ng-controller="ExamController">
    <div class="introduction" ng-show="introductionIsVisible">
        <h2 class="introduction-examtitle">{{examTemplate.Title}}</h2>
        <div class="button beginbutton" ng-click="beginExam();">Begin</div>
    </div>
    <div class="question" ng-show="questionsAreVisible">
        <div class="question-content" compile="questionContent">
        </div>
        <input type="text" ng-model="answer" />
        <div ng-show="correctTextIsVisible">Correct!</div>
        <div ng-show="incorrectTextIsVisible">Incorrect</div>
        <div class="button checkanswerbutton" ng-click="checkAnswer();">Check Answer</div>
        <div class="button tryquestionagainbutton" ng-click="tryQuestionAgain();">Try Question Again</div>
        <div class="button nextquestionbutton" ng-click="nextQuestion();">
            Next Question
        </div>
    </div>
    <div class="conclusion" ng-show="conclusionIsVisible">
        <h2>Results</h2>
    </div>
</body>
</html>
