<!DOCTYPE html>
<html ng-app="PhysicsExamPapers">
<head>
    <title>Physics Exam Papers</title>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i&amp;subset=greek,greek-ext,latin-ext" rel="stylesheet">

    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" integrity="sha384-wITovz90syo1dJWVh32uuETPVEtGigN07tkttEqPv+uR2SE/mbQcG7ATL28aI9H0" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js" integrity="sha384-/y1Nn9+QQAipbNQWU65krzJralCnuOasHncUFXGkdwntGeSvQicrYkiUBwsgUqc1" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js"></script>

    <script src="application.js"></script>
</head>
<body ng-controller="ExamController">
    <div class="introduction" ng-show="introductionIsVisible">
        <h2 class="introduction-examtitle">{{examTemplate.Title}}</h2>
        <h3>Topics covered in this exam:</h3>
        <ol class="partlist">
            <li ng-repeat="part in examTemplate.Parts">{{part.Title}}</li>
        </ol>
        <div class="controlsection">
            <div class="button beginbutton" ng-click="beginExam();">Start Exam</div>
        </div>
    </div>
    <div class="question" ng-show="questionsAreVisible">
        <div class="part-title">{{partTitle}}</div>
        <div class="question-content" compile="questionContent">
        </div>
        <div class="answersection">
            <div class="numericAnswerSection" ng-show="numericAnswerSectionIsVisible">
                <input type="text" class="answertextbox" ng-model="answer" />
            </div>
            <div class="multiplechoiceanswersection" ng-show="multipleChoiceAnswerSectionIsVisible">
                <div class="multiplechoiceanswer" ng-class="$parent.answer === multipleChoiceAnswer.Key ? 'multiplechoiceanswer-selected' : ''" ng-repeat="multipleChoiceAnswer in multipleChoiceAnswers" ng-click="$parent.answer = multipleChoiceAnswer.Key">
                    <div class="multiplechoiceanswer-content" compile="multipleChoiceAnswer.Content"></div>
                </div>
            </div>
            <div class="correcttext" ng-show="correctTextIsVisible">Correct!</div>
            <div class="incorrecttext" ng-show="incorrectTextIsVisible">Incorrect</div>
        </div>
        <div class="controlsection">
            <div class="button checkanswerbutton" ng-click="checkAnswer();" ng-show="checkAnswerButtonIsVisible">Check Answer</div>
            <div class="button tryquestionagainbutton" ng-click="tryQuestionAgain();" ng-show="tryQuestionAgainButtonIsVisible">Try Question Again</div>
            <div class="button nextquestionbutton" ng-click="nextQuestion();" ng-show="nextQuestionButtonIsVisible">
                Next Question
            </div>
        </div>
    </div>
    <div class="conclusion" ng-show="conclusionIsVisible">
        <h2 class="introduction-examtitle">{{examTemplate.Title}}</h2>
        <h3>Results:</h3>
        <div class="controlsection">
            <div class="button doexamagainbutton" ng-click="doExamAgain();">Do the exam again</div>
        </div>
    </div>
</body>
</html>
