body {
    background-color: #F4F4F4;
    font-family: 'Bodoni MT', 'Times New Roman', serif;
    font-weight: normal;
    color: #202020;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: inherit;
}


.introduction, .question, .conclusion {
    max-width: 700px;
    background-color: #FFFFFF;
    border: 1px solid #D7D7D7;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    margin: 70px auto;
    padding: 40px;
}

.introduction-examtitle {
    font-size: 40px;
    text-align: center;
    font-weight: inherit;
    margin: 20px 0px 40px 0px;
}

.introduction h3, .conclusion h3 {
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 20px;
    margin: 20px 0px;
}

.introduction ol {
    font-family: 'Open Sans';
    font-size: 14px;
    margin: 20px 0px;
}


.part-title {
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin: 0px 0px 40px 0px;
    text-transform: uppercase;
    color: #707070;
}

.question-content {
    font-size: 27px;
    font-weight: inherit;
    margin: 20px 0px 40px 0px;
}

    .question-content p {
        margin: 0px;
    }


.answersection {
    margin: 20px 0px 40px 0px;
    text-align: right;
}

.answertextbox {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px dashed #909090;
    padding: 7px 20px;
    font-size: 27px;
    width: 200px;
    text-align: right;
    font-family: inherit;
}

    .answertextbox:focus {
        outline: none;
    }

.multiplechoiceanswersection {
    margin: 0px 20px;
}

.multiplechoiceanswer {
    padding: 10px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    margin: 2px;
    font-size: 20px;
    min-width: 200px;
    max-width: 240px;
    cursor: pointer;
    text-align: left;
}

    .multiplechoiceanswer:hover {
        background-color: #389aea;
        border: 1px solid #227ac1;
        color: #FFFFFF;
    }

.multiplechoiceanswer-selected {
    background-color: #db296a;
    border: 1px solid #af164e;
    color: #FFFFFF;
}


.correcttext, .incorrecttext {
    font-family: 'Open Sans';
    font-size: 20px;
    margin: 40px 0px 20px 0px;
}

.correcttext {
    color: #4ea363;
}

.controlsection {
    text-align: right;
}

.button {
    font-family: 'Open Sans';
    font-size: 12px;
    background-color: #266cc9;
    border: 1px solid #104ea0;
    border-radius: 2px;
    padding: 7px 10px;
    font-weight: bold;
    color: #FFFFFF;
    display: inline-block;
    cursor: pointer;
}
